textarea{
resize: none;
}

body{
    background-color: #d0edff;
}

.card{
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: rgba(239, 203, 245, .7);
    border: #e1a0e7 solid 2px;
    border-radius: 12px;
    padding-bottom: 14px;
}

#columns{
    display: flex;
}

.column{
    width: 25%;
    text-align: center;
    padding: 0 20px;
}

.change{
    border-top: cadetblue 2px dotted;
    margin-top: 20px;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
    margin: 10px;
}

button{
    padding: 7px 10px;
}